.collapsible {
    margin: 2rem 4rem;
}

.collapsibleArticle {
    max-width: 64rem;
    margin: 2rem auto;
}

.isClose {
    display: none;
}

.collapsibleVisible {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    width: 1023px;
    height: 47px;
    border-radius: 5px;
    cursor: pointer;
}

.collapsibleVisible>h3 {
    margin: 0;
    padding: .7rem 1rem;
    color: #fff;
    font-size: 24px;
}

.collapsibleVisible>.fa-chevron-down {
    color: white;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
    cursor: pointer;
}

.collapsibleContent {
    background: #F7F7F7;
    border-radius: 5px;
    max-width: 64rem;
    height: 100%;
}

.collapsibleContent>p {
    color: #FF6060;
    font-size: 24px;
    padding: 2rem;
    margin : 0;
}

@media screen and (max-width: 650px) {
    .collapsibleArticle {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-top: 1rem;
    }

    .collapsibleVisible {
        width: 100%;
        height: 30px;
    }

    .collapsibleVisible>h3 {
        padding: 0.5rem 1rem;
        font-size: 13px;
    }

    .collapsibleVisible>.fa-chevron-down {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .collapsibleContent {
        width: 100%;
        height: 100%;
    }

    .collapsibleContent>p {
        font-size: 12px;
    }
}
