.apartmentProfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apartmentNameHost {
    margin: 0 1rem 0 0;
    font-size: 1.125rem;
    color: #FF6060;
    font-weight: bold;
}

.apartmentImgHost {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .apartmentProfil {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 2rem;
        bottom: 12.5rem;
    }

    .apartmentNameHost {
        font-size: 0.75rem;
    }

    .apartmentImgHost {
        width: 3rem;
        height: 3rem;
    }
}
