header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    width: auto;
    height: 3rem;
    padding: 4rem;
}

.linkHomePageHeader,
.linkAboutPageHeader {
    list-style: none;
    margin: 0;
    color: #FF6060;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

.linkHomePageHeader {
    padding-right: 2rem;
}

.linkAboutPageHeader {
    padding-right: 4rem;
}

.linkHomePageHeader:focus,
.linkAboutPageHeader:focus {
    text-decoration-line: underline;
}

@media screen and (max-width: 650px) {
    header {
        padding: 0;
    }

    .logoHeader {
        padding: 2rem;
    }

    .linkHomePageHeader,
    .linkAboutPageHeader {
        margin: 0rem;
        font-size: 0.75rem;
    }

    .linkHomePageHeader {
        padding-right: 1rem;
    }

    .linkAboutPageHeader {
        padding-right: 2rem;
    }
}
